# Local R stuff
/.Rproj.user/*
/*.RData
*.Rhistory
*.Rproj
*.Rbuildignore
*.DS_Store
.Rproj.user
.Rprofile

# Package related local stuff
RLum.Debug/
RLum.Experiment/
packrat/
Luminescence.Rcheck/
#RLum.BuildResults/*.tar.gz
RLum.BuildResults/*.zip
#RLum.BuildResults/*.tgz
RLum.BuildResults/rdepends_*
packrat/lib*/
packrat/src/
src/*.o
src/*.dll
src-i386/
src-x64/
cran-comments.html
vignettes/*_cache/
vignettes/*_files/
vignettes/*.xsyg
docs/NEWS.html
docs/NEWS*_cache/
docs/NEWS*_cache/

