# Local R stuff
/.Rproj.user/*
/*.RData
*.Rhistory
*.Rproj
*.Rbuildignore
*.DS_Store
.Rproj.user
.Rprofile
Rlum.Experiment/

# emacs stuff
*~
.#*
\#*#
.*.swp

# Package related local stuff
packrat/
packrat/lib*/
packrat/src/

src/*.o
src/*.dll
src-i386/
src-x64/

cran-comments.html
NEWS.html
README.html

tests/testthat/_snaps/*.new.md
vignettes/*_cache/
vignettes/*_files/
vignettes/*.xsyg
docs/

Luminescence.helpers
Luminescence.BuildResults
