useDynLib(Luminescence)
exportPattern("^[[:alpha:]]+")
import(methods)
import(XML)
import(shape)
import(rgl)
import(matrixStats)
import(sp)
import(zoo)
import(bbmle)
import(data.table)
importFrom("parallel", parLapply, makeCluster, stopCluster)
importFrom("raster", brick, raster, contour, plotRGB, nlayers)
importFrom("Rcpp", evalCpp)
importFrom("minpack.lm", nlsLM, nls.lm.control)