.custom-modal {
 padding-left: 10px;
 padding-top: 10px;
 padding-bottom: 10px;
 padding-right: 10px;
 line-height: 200%;
 background-color: #fff;
 overflow: visible;
 position: absolute;
 z-index: 999;
 border-radius: 10px;
 border-style: solid;
 border-color: #428bca;
}

.h {
 font-size: 11px;
 margin: 0 0 0px;
}

h5, h6 {
 color: #428bca;
}

.tooltip-inner {
  max-width: 450px;
}

.control-label, .selectize-dropdown, .item, .btn, .uneditable-input, .sorting, .odd, .even, .dataTables-info, .fa, .fa-refresh  {
 font-size: 12px;
}

.selectize-input {
 padding: 0px 10px;
 min-height: 20px;
}

label, body, input {
	font-size: 12px;
}

.label, .badge {
	font-size: 12px;
	padding: 4px 20px;
	margin: 10px;
	line-height: 18px;
}

.label-info, .badge-info {
background-color: #428bca;
}

input[type="text"],input[type="number"],input[type="email"],input[type="url"],input[type="search"],input[type="tel"],input[type="color"],.uneditable-input{
	display:inline-block;
	height:18px;
	padding:0px 0px 0px 7px;
	margin-bottom:10px;
	font-size: 11px;
	line-height: 1.5;
	color:#555;
	vertical-align:middle;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px
	}

input,textarea,.uneditable-input{
	width: auto;
	}

